@{
    //ViewData["Title"] = "Home Page";    //Burası Shared altındaki Layotları ifade eder
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Customer Invitation </h2>
        <h3>Welcome to My Invitation App</h3>

        <p>Designed by Batuhan Demirbag</p>

        <a class="btn btn-primary" asp-action="AnswerForm">Click to register!</a>
    </div>
</body>
</html>

